/*
 *
 **	Custom jQuery  
 **	CSS relating to each component is indented
 *
 */ 

/*  
** Global settings 
*/

body {
	background-color: #000;
	margin: 0;
	padding: 0;
}

.page-title {
	margin: 0;
	padding-top: 30px;
	font-family: 'Open Sans'; sans-serif;
	font-weight: 300;
	color: #FFC184;
	text-align: center;
	font-size: 50px;
}

.page-kicker {
	margin-top: 50px;
	color: #fff;
	text-align: center;
	font-family: 'Lato', sans-serif;
	font-weight: 300;
}

#body-div {
	width: 100%;
	height: 100%;
	background-color: #000;
}

#title-div {
	margin-top: -110px;
	width: 100%;
	height: 30px;
	background-color: #343E49;
	border-radius: 3px;
}
	
	.title-text {
		margin: 0;
		padding-top: 2px;
		color: #fff;
		font-family: 'Roboto';
		font-weight: 300;
		font-size: 15px;
		line-height: 30px;
		text-align: center;
	}


/*  
** Code snippet
*/
	
	.code {
		font-family: 'Lato'; sans-serif;
		margin: 0 auto;
		margin-top: 50px;
		margin-bottom: 100px;
		padding: 20px;
		width: 600px;
		background-color: #000;
		color: #D2FB5B;
		border: 1px solid #D2FB5B;
		border-radius: 3px;
	}


/*  
** Toolbar 
*/

.toolbar-container {
	position: fixed;
	padding-top: 20px;
  	bottom: 0px;
 	width: 100%;
	height: 68px;
	background-color: #000;
	text-align: center;
}
	
	.toolbar {
		height: 68px;
		margin: 0 auto;
		display: inline-block;
		border-radius: 3px;
    	/* color gradient for toolbar */
		  background: -webkit-linear-gradient(90deg, #485563 10%, #29323c 90%); /* Chrome 10+, Saf5.1+ */
		  background:    -moz-linear-gradient(90deg, #485563 10%, #29323c 90%); /* FF3.6+ */
		  background:     -ms-linear-gradient(90deg, #485563 10%, #29323c 90%); /* IE10 */
		  background:      -o-linear-gradient(90deg, #485563 10%, #29323c 90%); /* Opera 11.10+ */
		  background:         linear-gradient(90deg, #485563 10%, #29323c 90%); /* W3C */

		  
	}

		.dock-icons-list {
			list-style: none;
			padding: 0;
			margin: 0;

			
		}

			.dock-icon {
				float: left;
				padding: 8px;	

				

			}

			.dock-icon:hover {


			}

			.dock-img {
				height: 45px;
				width: 45px;
				
			}




		