/* --------------------------------------------
Custom CSS for Web Dock

Version: 	1.0
Author:		Camden Rudisill	
License: 	MIT License (see LICENSE file)
----------------------------------------------- */


/*  
** Main Page Content 
* (Not necessary for Dock usage)
*/

body {
	background-color: #000;
	margin: 0;
	padding: 0;
}

#body-div {
	width: 100%;
	height: 100%;
	background-color: #000;
}

	.page-title {
	margin: 0;
	padding-top: 30px;
	letter-spacing: 7px;
	font-family: 'Open Sans'; sans-serif;
	font-weight: 300;
	color: #FFC184;
	text-align: center;
	font-size: 50px;
	}

	.page-kicker {
		margin-top: 50px;
		color: #fff;
		text-align: center;
		font-family: 'Lato', sans-serif;
		font-weight: 300;
	}


	/*  
	** Code snippet
	*/
	
	#code {
		margin: 0 auto;
		margin-top: 50px;
		margin-bottom: 100px;
		padding: 20px;
		width: 600px;
		background-color: #000;
		border: 1px solid #D2FB5B;
		border-radius: 3px;
		text-align: left;
	}

		.code-text {
			font-family: 'Source Code Pro', sans-serif;
			font-size: 14px;
			font-weight: 200;
			line-height: 17px;
			color: #D2FB5B;

		}

		


/*  
** DOCK 
*/


	.dock {
	display: inline-block;
	bottom: 0;
	z-index: 10;
	text-align: center;
		height: 68px;
		margin: 0 auto;
		border-radius: 3px;
    	background-color: #1B1B1B;
		  
	}

	.dock ul {
	position: relative;
	display: inline-block;
	padding: 7px 4px;
	margin: 0;
	background: url(images/dock-m.png) repeat-x bottom;
}

.dock li {
	display: inline-block;
	position: relative;
	margin: 0 1px;
	margin-bottom: 15px;
	padding: 4px;

}

.dock li:hover p {
	display: block;
}	

.dock a {
	display: inline-block;
	cursor: default;
	outline: none;
}


.dock-container {
	position: fixed;
	padding-top: 20px;
  	bottom: 0px;
 	width: 100%;
	height: 68px;
	background-color: #000;
	text-align: center;
}

.divider {
	display: inline-block;
	width: 1px;
	height: 54px;
	background-color: #574E4E
}

.space {
	display: inline-block;
	height: 50px;
	width: 30px;

}


/* Set image smaller than native so 
resolution doesn't degrade on hover */
.dock img { 
	transition: all .1s ease-in-out; 
	height: 50px;
	width: 50px;
}
.dock img:hover { transform: scale(1.1); }

/* label container */
.label {
	position: absolute;
	top: -60px;
	left: 50%;
	display: none;
	width: 150px;
	margin-left: -75px;
	text-align: center;
}

.hidden {
	display: none;
}

.folder {
	position: absolute;
	top: -245px;
	left: 18%;
	display: none;
	width: 150px;
	margin-left: -75px;
	text-align: center;
}

.folder span::after {
	content: "Folder";
}

.folder span {
	display: inline-block;
	width: 300px;
	height: 200px;
	font-family: 'Lato', sans-serif;
	font-weight: 200;
	letter-spacing: 1px;
	font-style: normal;
	font-size: 14px;
	color: #FFF;
	padding-top: 10px;
	background: #1B1B1B;
	-webkit-border-radius: 12px;
	-moz-border-radius: 12px;
	-o-border-radius: 12px;
	border-radius: 2px;
}

/* actual label */
.label span {
	display: inline-block;
	padding: 5px 12px;
	font-family: 'Lato', sans-serif;
	font-weight: 200;
	letter-spacing: 1px;
	font-style: normal;
	font-size: 14px;
	color: #FFF;
	background: #1B1B1B;
	-webkit-border-radius: 12px;
	-moz-border-radius: 12px;
	-o-border-radius: 12px;
	border-radius: 2px;
}

	/* Adds triangle to dock title-div on hover */
	.down-arrow {
		margin: 0 auto;
		width: 0; 
		height: 0; 
		border-left: 6px solid transparent;
		border-right: 6px solid transparent;
		border-top: 8px solid #1B1B1B;
	}

	.title-text {
		margin: 0;
		padding-top: 2px;
		color: #fff;
		font-family: 'Roboto';
		font-weight: 300;
		font-size: 15px;
		line-height: 30px;
		text-align: center;
	}

	



		