/* --------------------------------------------
Custom CSS for Web Dock

Author:		Camden Rudisill	
License: 	MIT License (see LICENSE file)
----------------------------------------------- */

/*  
** DOCK 
*/

/* blocks off the bottom of the web page for dock to live in */
.dock-container {
	position: fixed;
	padding-top: 20px;
  	bottom: 0px;
 	width: 100%;
	height: 68px;
	background-color: #000;
	text-align: center;
}

	.dock {
	display: inline-block;
	bottom: 0;
	z-index: 10;
	text-align: center;
		height: 68px;
		margin: 0 auto;
		border-radius: 3px;
    	background-color: #1B1B1B;
		  
	}

	.dock ul {
	position: relative;
	display: inline-block;
	padding: 7px 4px;
	margin: 0;
	background: url(images/dock-m.png) repeat-x bottom;
}

		.dock li {
			display: inline-block;
			position: relative;
			margin: 0 1px;
			margin-bottom: 15px;
			padding: 4px;

		}

			.dock li:hover p {
				display: block;
			}	

		.dock a {
			display: inline-block;
			cursor: default;
			outline: none;
		}



/* Set image smaller than native so 
resolution doesn't degrade on hover */
.dock img { 
	transition: all .1s ease-in-out; 
	height: 50px;
	width: 50px;
}
.dock img:hover { transform: scale(1.1); }

/* Center the label */
.label {
	position: absolute;
	top: -64px;
	left: 50%;
	display: none;
	width: 150px;
	margin-left: -75px;
	text-align: center;
}

/* label size and shape */
.label span {
	display: inline-block;
	padding: 6px 12px;
	font-family: 'Helvetica Neue', sans-serif;
	font-weight: 200;
	letter-spacing: 1px;
	font-style: normal;
	font-size: 13px;
	color: #FFF;
	background: #1B1B1B;
	-webkit-border-radius: 12px;
	-moz-border-radius: 12px;
	-o-border-radius: 12px;
	border-radius: 2px;
}

/* center the folder */
.folder {
	position: absolute;
	top: -245px;
	left: 18%;
	display: none;
	width: 150px;
	margin-left: -75px;
	text-align: center;
}

/* add folder title */
.folder span::after {
	content: "Folder";
}


/* folder size and shape */
.folder span {
	display: inline-block;
	width: 300px;
	height: 200px;
	font-family: 'Lato', sans-serif;
	font-weight: 200;
	letter-spacing: 1px;
	font-style: normal;
	font-size: 14px;
	color: #FFF;
	padding-top: 10px;
	background: #1B1B1B;
	-webkit-border-radius: 12px;
	-moz-border-radius: 12px;
	-o-border-radius: 12px;
	border-radius: 2px;
}

	/* Adds down arrow to dock label on hover */
	.down-arrow {
		margin: 0 auto;
		width: 0; 
		height: 0; 
		border-left: 6px solid transparent;
		border-right: 6px solid transparent;
		border-top: 8px solid #1B1B1B;
	}

/*  
** OPTIONAL DOCK ITEMS
*/

/* creates divider line between dock items like in the preview */
.divider {
	display: inline-block;
	width: 1px;
	height: 54px;
	background-color: #574E4E
}

/* creates a gap between dock items if wanted, 
   html format is the same as divider */
.space {
	display: inline-block;
	height: 50px;
	width: 30px;
}

	



		